::-webkit-input-placeholder {
	font-size: 13px;
	font-family: $body-font;
	color: rgb(218, 225, 235);
}
::-moz-placeholder          {
	font-size: 13px;
	font-family: $body-font;
	color: rgb(218, 225, 235);
}/* Firefox 19+ */
:-moz-placeholder           {
	font-size: 13px;
	font-family: $body-font;
	color: rgb(218, 225, 235);
}/* Firefox 18- */
:-ms-input-placeholder      {
	font-size: 13px;
	font-family: $body-font;
	color: rgb(218, 225, 235);
}
.btn {
	font-size: 14px;
	font-weight: bold;
	padding: 8px 5px;
	border: 0;
	background: #00b9fe;
	color: #FFF;
	transition: all .5s ease;
	&:hover {
		background: #1483ac;
	}
}
.btn-grey {
	background: #dae1eb;
	&:hover{
		background: #c3cede;
	}
}
.form {
	width: 100%;
}
.form__row {
	display: table;
	width: 100%;
	padding-bottom: 15px;
}
.form__col-w100 {
	display: table-cell;
	width: 100%;
}
.form__col-w50 {
	display: table-cell;
	width: 50%;
}
.form__col-w33 {
	display: table-cell;
	width: 33%;
}
.form__row input[type=text], textarea, .form__row select {
	border: 1px solid #dae1eb;
	padding: 6px 3px 5px 3px;
	font-size: 13px;
	-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.form__row input[type=text], textarea {
	width: 100%;
}
.form__row select {
	font-size: 12px;
	color: rgb(218, 225, 235);
}
.form__col-title {
	font-size: 14px;
	color: rgb(92, 123, 152);
	white-space: nowrap;
}
.mCustomScrollBox {
	border: 1px solid #dae1eb;
	background: #FFF;
}
.mCS-qwelp.mCSB_scrollTools .mCSB_dragger_bar {
	border-radius: 0;
	width: 7px;
	margin-top: 3px;
}
.select__wrap-btn {
	cursor: pointer;
	color: #dae1eb;
	border: 1px solid #dae1eb;
	background: #FFF;
	width: 38px;
	font-size: 12px;
	margin-left: 13px;
	padding: 6px  4px 2px 4px;
	position: relative;
	&:after {
		background: #00b9fe;
		display: block;
		content: '';
		width: 22px;
		height: 24px;
		position: absolute;
		right: 0;
		top: 0;
	}
	&:before {

	}
}
.arrowDown{
	overflow:hidden;
	height:10px;
	height:20px; width:20px;
	display:block;
	position:absolute;
	top: 1px;
	right: 1px;
	z-index: 10;
	cursor: pointer;
}
.arrowDown:before{
	content:'';
	height:5px;
	width:5px;
	display:block;
	border:2px solid #FFF;
	border-right-width:0;
	border-top-width:0;
	transform:rotate(-45deg);
	-webkit-transform:rotate(-45deg);
	-moz-transform:rotate(-45deg);
	-o-transform:rotate(-45deg);
	-ms-transform:rotate(-45deg);
	position:absolute;
	bottom:7px;
	left:7px;
}
.select__wrap-pr {
	position: relative;
}
.select__wrap {
	position: absolute;
	top: -1px;
	display: none;
}
.callback__select {

}
.callback__list {

}
.callback__item {

	color: #5c7b98;
	margin: 0 0 1px 0;
	padding: 2px 3px 2px 4px;
	cursor: pointer;
	&:hover {
		background: #dae1eb;
	}
}
.mCSB_container {
	min-width: 30px;
	padding: 3px 3px 3px 0;
}

.mCS-qwelp.mCSB_scrollTools .mCSB_draggerRail{ background-color: #40CAFE; background-color: #FFF; }

.mCS-qwelp.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{  background-color: #FFF; background-color: #40CAFE; }

.mCS-qwelp.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{ background-color: #40CAFE; }

.mCS-qwelp.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-qwelp.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{ background-color: #40CAFE; }

.mCS-qwelp.mCSB_scrollTools .mCSB_buttonUp{ background-position: -80px 0; }

.mCS-qwelp.mCSB_scrollTools .mCSB_buttonDown{ background-position: -80px -20px; }

.mCS-qwelp.mCSB_scrollTools .mCSB_buttonLeft{ background-position: -80px -40px; }

.mCS-qwelp.mCSB_scrollTools .mCSB_buttonRight{ background-position: -80px -56px; }